dist: bionic

env:
  global:
    - IMAGE_NAME=pkskubeflow/docker-nvidia
    - CODE_TAG=master

arch:
  - amd64

services:
  - docker

before_install:
  - git clone -b ${CODE_TAG} --depth 1 https://github.com/kubeflow-pk/build-docker-nvidia.git

script:

  - cd build-docker-nvidia
  - docker build -t ${IMAGE_NAME} .
  - docker login -u ${DOCKER_USER} -p ${DOCKER_PWD}
  - docker push ${IMAGE_NAME}
